--init-author-name = Lorens Paez
--init-author-email = lorens.app@gmail.com
# an email is required to publish npm packages
email=lorens.app@gmail.com
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
npm publish --registry http://localhost:8081/nexus/content/repositories/npm-internal/